*.pyc
venv/
.idea/*
.pyc
**/*/*.pyc
**/**/*.pyc
pyc
.pyc
/*.pyc
**/*.pyc
migrations/
pyc
addons/**/*.pyc
avicrypto/*.pyc
pyc
media/
staticfiles/
.vscode/bitbucket-pipelines.yml
.vscode/
addons/*/migrations/
addons/*/migrations
addons/packages/migrations/
addons/packages/migrations/
addons/accounts/migrations/
addons/wallet/migrations/
addons/transactions/migrations/
addons/packages/migrations/*
