*.pyc
venv/
.idea/*
.pyc
**/*/*.pyc
**/**/*.pyc
pyc
.pyc
/*.pyc
**/*.pyc
**/migrations/**
**/migrations/*.pyc
!**/migrations
!**/migrations/__init__.py
pyc
addons/**/*.pyc
avicrypto/*.pyc
pyc
media/
staticfiles/
.vscode/bitbucket-pipelines.yml
.vscode/
local_settings.py
avicrypto/local_settings.py