<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        {% load staticfiles %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Avicrypto | World's largest Crypto Exchange Platform </title>
        <link href="{% static "images/favicons/phoenix57x57.png" %}">
        <link href="{% static "images/favicons/phoenix60x60.png" %}">
        <link href="{% static "images/favicons/phoenix72x72.png" %}">
        <link href="{% static "images/favicons/phoenix76x76.png" %}">
        <link href="{% static "images/favicons/phoenix114x114.png" %}">
        <link href="{% static "images/favicons/phoenix120x120.png" %}">
        <link href="{% static "images/favicons/phoenix144x144.png" %}">
        <link href="{% static "images/favicons/phoenix152x152.png" %}">
        <link href="{% static "images/favicons/phoenix180x180.png" %}">
        <link href="{% static "images/favicons/phoenix192x192.png" %}">
        <link href="{% static "images/favicons/phoenix32x32.png" %}">
        <link href="{% static "images/favicons/phoenix96x96.png" %}">
        <link href="{% static "images/favicons/phoenix16x16.png" %}">
        <!--<link rel="manifest" href="/manifest.json">-->
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static "images/favicons/phoenix114x114.png" %}">
        <meta name="theme-color" content="#ffffff">
        <!--
        Stylesheets
        =============================================

        -->
        <!-- Default stylesheets-->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <!-- Template specific stylesheets-->
        <link href="{% static "lib/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "lib/animate.css/animate.css" %}" rel="stylesheet">
        <link href="{% static "lib/components-font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "lib/et-line-font/et-line-font.css" %}" rel="stylesheet">
        <link href="{% static "lib/flexslider/flexslider.css" %}" rel="stylesheet">
        <link href="{% static "lib/owl.carousel/dist/assets/owl.carousel.min.css" %}" rel="stylesheet">
        <link href="{% static "lib/owl.carousel/dist/assets/owl.theme.default.min.css" %}" rel="stylesheet">
        <link href="{% static "lib/magnific-popup/dist/magnific-popup.css" %}" rel="stylesheet">
        <link href="{% static "lib/simple-text-rotator/simpletextrotator.css" %}" rel="stylesheet">
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "lib/jqueryTimeCounter/jqueryTimeCounter.css" %}" rel="stylesheet">
        <link id="color-scheme" href="{% static "css/colors/default.css" %}" rel="stylesheet">
        <link href="{% static "css/custom.css" %}" rel="stylesheet">
        <link href="{% static "lib/treant/Treant.css" %}" rel="stylesheet">
    </head>
    
    {% block body %}
        <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
            {% block main %}
            {% endblock %}
            {% block js %}
                {% include "js_src.html" %}
                <script src="{% static "js/plugins.js" %}"></script>
                <script src="{% static "js/main.js" %}"></script>
            {% endblock %}
        </body>
    {% endblock %}
</html>