{% extends "home_root.html" %}

{% block contents %}

<div class="tab-content">
    <div class="tab-pane active" id="network_tree">
    <br>
        <h2>My Network</h2>
        <div class="row" id="network_summary">
        <br><br>
            
            <div id="networkContainer">
            	
            </div>
            <div class="chart" id="networkTree"></div>

        </div>
    </div>

{% load staticfiles %}
<script src="{% static "lib/jquery/dist/jquery.js" %}"></script>
<script src="{% static "js/network.js" %}"></script>
<script src="{% static "lib/treant/Treant.js" %}"></script>
<script src="{% static "lib/treant/raphael.js" %}"></script>
{% endblock %}
