{% extends "home_root.html" %} {% load staticfiles %} {% block contents %}
<div class="tab-content">
    <div class="tab-pane active" id="profile">
        <div class="row" id="profile-summary">
            <div class="row">
                <br>
                <br>
                <h1> Profile</h1>

                <div class="col-md-12">
                    <form class="registration-form">
                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Network Detail </h3>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Sponsor ID :</label>
                                        </div>
                                        <div class="col-sm-8">
                                            {{user.profile.sponser_id}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Placement ID :</label>
                                        </div>
                                        <div class="col-sm-8">
                                            {{user.profile.placement_id}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Position of placement :</label>
                                        </div>
                                        <div class="col-sm-8">
                                            {{user.profile.placement_position}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Personal Detail</h3>
                                </div>
                                <br>
                            </div>
                            <div class="form-bottom">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> *First Name :</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" name="first_name" placeholder="First Name" class="form-control" id="first_name" value="{{user.first_name}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> *Last Name :</label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="text" name="last_name" placeholder="Last Name" class="form-control" id="last_name" value="{{user.last_name}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>* Country :</label>
                                        </div>
                                        <div class="col-sm-8">
                                            {{country.country_name}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>* Mobile No. :</label>
                                        </div>
                                        <div class="col-sm-8">
                                            {{user.profile.mobile}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>* Email :</label>
                                        </div>
                                        <div class="col-sm-8">
                                            {{user.email}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <div class="form-group">
                    <button id="profile_update" class="btn btn-round btn-b">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static "lib/jquery/dist/jquery.js" %}"></script>
<script type="text/javascript">

    $('#profile_update').click(function () {
        var data = {
            "first_name": $("#first_name").val(),
            "last_name": $("#last_name").val()
        }
        $.ajax({
            type:"POST",
            url:"/profile",
            dataType: 'json',
            data: data,
            success: function (data) {
                console.log(data,"---")
            }
        });
    });
</script> {% endblock %}