{% extends "base.html" %}

{% block body %}
    {% block main %}
    <main>
        <nav class="navbar navbar-custom navbar-fixed-top one-page" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="#">AviCrypto</a>
                </div>
                <div class="collapse navbar-collapse" id="custom-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="section-scroll" href="#logout">Logout</a></li>
                        <!--<li><a class="section-scroll" href="#contact">Get In Touch</a></li>-->
                    </ul>
                </div>
            </div>
        </nav>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                <h4 class="font-alt mb-0">Dashboard</h4>
                <hr class="divider-w mt-10 mb-20">
                <div role="tabpanel">
                  <ul class="nav nav-tabs font-alt" role="tablist">
                    <li class="active"><a href="#home" data-toggle="tab"><span class="icon-tools-2"></span>Home</a></li>
                      <li><a href="#profile" data-toggle="tab"><span class="icon-tools-2"></span>Profile</a></li>
                      <li><a href="#account" data-toggle="tab"><span class="icon-tools-2"></span>Account</a></li>
                  </ul>
                  <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        Home
                    </div>
                      <div class="tab-pane active" id="profile">
                        Profile
                    </div>
                    <div class="tab-pane" id="account">
                        Account
                    </div>
                  </div>
                </div>
    </main>
    {% endblock %}
    {% block js %}
          {{ block.super }}
        {% endblock %}
{% endblock %}