{% extends "base.html" %}
{% load staticfiles %}

{% block page_stylesheet %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/pages/login.min.css' %}">
{% endblock %}

{% block content %}
    <div class="content-header row">
    </div>
    <div class="content-body">
        <section class="flexbox-container">
            <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1 box-shadow-2 p-0">
                <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                    <div class="card-header no-border pb-0">
                        <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2">
                            <span>Recover password</span>
                        </h6>
                        <p>Enter your email address and we will send you a link to reset your password.</p>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <form id="forgotPasswordForm" class="form-horizontal" action="" method="post" novalidate>
                                {% csrf_token %}
                                <fieldset class="form-group position-relative has-icon-left">
                                    <input type="email" class="form-control form-control-lg input-lg" id="email" name="email" placeholder="Your Email Address" required data-validation-required-message="Please enter email address.">
                                    <div class="form-control-position">
                                        <i class="icon-mail6"></i>
                                    </div>
                                    <div class="help-block font-small-3"></div>
                                </fieldset>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">
                                    <i class="icon-lock4"></i> Recover Password
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="card-footer no-border">
                        <p class="float-sm-left text-xs-center">
                            <a href="/login" class="card-link">Login</a>
                        </p>
                        <p class="float-sm-right text-xs-center">
                            <!-- New to Robust ? <a href="register-simple.html" class="card-link">Create Account</a> -->
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block page_javascript %}
	<script type="text/javascript" src="{% static 'js/pages/login.min.js' %}"></script>
{% endblock %}