<!DOCTYPE html>
<html lang="en-US" dir="ltr">
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Avicrypto | World's largest Crypto Exchange Platform </title>
        <link href="{% static "images/favicons/phoenix57x57.png" %}">
        <link href="{% static "images/favicons/phoenix60x60.png" %}">
        <link href="{% static "images/favicons/phoenix72x72.png" %}">
        <link href="{% static "images/favicons/phoenix76x76.png" %}">
        <link href="{% static "images/favicons/phoenix114x114.png" %}">
        <link href="{% static "images/favicons/phoenix120x120.png" %}">
        <link href="{% static "images/favicons/phoenix144x144.png" %}">
        <link href="{% static "images/favicons/phoenix152x152.png" %}">
        <link href="{% static "images/favicons/phoenix180x180.png" %}">
        <link href="{% static "images/favicons/phoenix192x192.png" %}">
        <link href="{% static "images/favicons/phoenix32x32.png" %}">
        <link href="{% static "images/favicons/phoenix96x96.png" %}">
        <link href="{% static "images/favicons/phoenix16x16.png" %}">
        <!--<link rel="manifest" href="/manifest.json">-->
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static "images/favicons/phoenix114x114.png" %}">
        <meta name="theme-color" content="#ffffff">
        <!--
        Stylesheets
        =============================================

        -->
        <!-- Default stylesheets-->
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Volkhov:400i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
        <!-- Template specific stylesheets-->
        <link href="{% static "lib/bootstrap/dist/css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "lib/animate.css/animate.css" %}" rel="stylesheet">
        <link href="{% static "lib/components-font-awesome/css/font-awesome.min.css" %}" rel="stylesheet">
        <link href="{% static "lib/et-line-font/et-line-font.css" %}" rel="stylesheet">
        <link href="{% static "lib/flexslider/flexslider.css" %}" rel="stylesheet">
        <link href="{% static "lib/owl.carousel/dist/assets/owl.carousel.min.css" %}" rel="stylesheet">
        <link href="{% static "lib/owl.carousel/dist/assets/owl.theme.default.min.css" %}" rel="stylesheet">
        <link href="{% static "lib/magnific-popup/dist/magnific-popup.css" %}" rel="stylesheet">
        <link href="{% static "lib/simple-text-rotator/simpletextrotator.css" %}" rel="stylesheet">
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "lib/jqueryTimeCounter/jqueryTimeCounter.css" %}" rel="stylesheet">
        <link id="color-scheme" href="{% static "css/colors/default.css" %}" rel="stylesheet">
        <link href="{% static "css/custom.css" %}" rel="stylesheet">
    </head>
    
    {% block body %}

        <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
            <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
    </div>
    <nav class="navbar navbar-custom navbar-transparent navbar-fixed-top one-page" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="index.html">AviCrypto</a>
            </div>
            <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#totop">Home</a></li>
                    <li><a class="section-scroll" href="#about">Who We Are</a></li>
                    <li><a class="section-scroll" href="#works">What We Do</a></li>
                    <li><a class="section-scroll" href="#contact">Get In Touch</a></li>
                    <li><a class="btn btn-d btn-round" href="/login">Sign Up/Login</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--      <section class="home-section home-full-height bg-dark bg-gradient" id="home" data-background="static/images/Layer.jpg">-->
    <section class="home-section home-full-height bg-dark" id="home"
             data-background="{% static "images/Layer.png" %}">
        <div class="titan-caption">
            <div class="caption-content">
                <div class="font-alt mb-30 titan-title-size-1">Welcome To AVI CRYPTO</div>
                <div class="font-alt mb-40 titan-title-size-4">World's Largest Crypto Exchange Coming Soon</div>
                <div id="countdowntimer"></div>
                <a class="section-scroll btn btn-border-w btn-round" href="#about">Learn More</a>
            </div>
        </div>
    </section>
    <div class="main">
        <section class="module" id="about">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Who We Are</h2>
                        <div class="row multi-columns-row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="alt-features-item">
                                    <img src="{% static "images/img_who.svg" %}">
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-12 module-subtitle font-serif">
                                <article>
                                    AVICRYPTO is a leading national provider of world’s fastest, safest, cheapest & endless payment solutions for independent businesses. We’ve built the company from the inside out, putting service at the center of everything we do. It’s a high-touch, high-tech, end-to- end system that delivers quality, value, and profitability to our investors, Merchant, Trader's & when You win, we win !
                                </article>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="alt-features-item">
                                    <img src="{% static "images/img_who.svg" %}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="module pb-0" id="works">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">What We Do</h2>
                        <div class="module-subtitle font-serif"></div>
                    </div>
                </div>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion"
                                                                href="#accordion1">Crypto buying & Selling</a></h4>
                        </div>
                        <div class="panel-collapse collapse in" id="accordion1">
                            <div class="panel-body">
                                A simple & easy way to buy & Sell Crypto Currency by using Centralized Currency
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse"
                                                                data-parent="#accordion" href="#accordion2">Crypto
                                Payment Gateway</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion2">
                            <div class="panel-body">
                                Offer your customers the world’s fastest, safest and cheapest payment option
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse"
                                                                data-parent="#accordion" href="#accordion3">Crypto
                                Trading</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion3">
                            <div class="panel-body">
                                Our experts in industry will be with you when you will trading on Crypto at AVICRYPTO
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse"
                                                                data-parent="#accordion" href="#accordion4">Crypto
                                Saving Account</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion4">
                            <div class="panel-body">
                                Interest on your Exchange wallet will let your saving earn for you
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse"
                                                                data-parent="#accordion" href="#accordion5">Fixed
                                Deposit</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion5">
                            <div class="panel-body">
                                Get Weekly Returns on Your One time Fixed Deposit AT AVICRYPTO
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse"
                                                                data-parent="#accordion" href="#accordion6">Investment
                                On Initial Coin Offering</a></h4>
                        </div>
                        <div class="panel-collapse collapse" id="accordion6">
                            <div class="panel-body">
                                We will find best option in <b>Initial Coin Offering (ICO)</b> for you and let you
                                invest there
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row multi-columns-row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-wallet"></span></div>
                            <h3 class="features-title font-alt">Crypto buying & Selling</h3>
                            <p>A simple & easy way to buy & Sell Crypto Currency is by using the Centralized
                                Currency</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-wallet"></span></div>
                            <h3 class="features-title font-alt">Crypto Payment Gateway</h3>
                            <p>Offer your customers the world’s fastest, safest and cheapest payment option</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-tools"></span></div>
                            <h3 class="features-title font-alt">Crypto Trading</h3>
                            <p>Our experts in industry will be with you when you while trading on Crypto at
                                AVICRYPTO</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-gears"></span></div>
                            <h3 class="features-title font-alt">Crypto Saving Account</h3>
                            <p>Interest on your Exchange wallet will let your saving earn for you</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-gears"></span></div>
                            <h3 class="features-title font-alt">Fixed Deposit</h3>
                            <p>Get Weekly Returns on Your One time Fixed Deposit at AVICRYPTO</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="features-item">
                            <div class="features-icon"><span class="icon-gears"></span></div>
                            <h3 class="features-title font-alt">Investment On Initial Coin Offering</h3>
                            <p>We will find best option in <b>Initial Coin Offering (ICO)</b> for you and let you invest
                                there</p>
                        </div>
                    </div>
                </div>
            </div>

        </section>

        <section class="module" id="pricing">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Packages</h2>
                        <div class="module-subtitle font-serif">Member Packages</div>
                    </div>
                </div>
                <div class="row multi-columns-row">

                    {% for avi_price, payout, num_payout, binary, direct, cap in packages %}
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="price-table font-alt">
                                <h4>Avi {{ avi_price }}</h4>
                                <div class="borderline"></div>
                                <p class="price"><span>$</span>{{ avi_price }}
                                </p>
                                <ul class="price-details">
                                    <li>Weekly Payout: {{ payout }} %</li>
                                    <li>Loyalty : 5 %</li>
                                    <li>No. of Payout : {{ num_payout }}</li>
                                    <li>Binary : {{ binary }} %</li>
                                    <li>Direct : {{ direct }} %</li>
                                    <li>Capping: $ {{ cap }}</li>
                                </ul>
                                <a class="btn btn-d btn-round" href="/login">Sign Up</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <div class="module-small bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
                        <div class="callout-text font-alt">
                            <h3 class="callout-title">Subscribe now</h3>
                            <p>We will not spam your email.</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-4">
                        <div class="callout-btn-box">
                            <form id="subscription-form" role="form" method="post" action="">
                                <div class="input-group">
                                    <input class="form-control" type="email" id="email" name="email"
                                           placeholder="Your Email"
                                           data-validation-required-message="Please enter your email address."
                                           required="required"/><span class="input-group-btn">
                        <button class="btn btn-g btn-round" id="subscription-form-submit" type="submit">Submit</button></span>
                                </div>
                            </form>
                            <div class="text-center" id="subscription-response"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="module" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <h2 class="module-title font-alt">Get in touch</h2>
                        <div class="module-subtitle font-serif"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <form id="contactForm" role="form" method="post" action="">
                            <div class="form-group">
                                <label class="sr-only" for="name">Name</label>
                                <input class="form-control" type="text" id="name" name="name" placeholder="Your Name*"
                                       required="required" data-validation-required-message="Please enter your name."/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email"
                                       placeholder="Your Email*" required="required"
                                       data-validation-required-message="Please enter your email address."/>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" rows="7" id="message" name="message"
                                          placeholder="Your Message*" required="required"
                                          data-validation-required-message="Please enter your message."></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Submit
                                </button>
                            </div>
                        </form>
                        <div class="ajax-response font-alt" id="contactFormResponse"></div>
                    </div>
                </div>
            </div>
        </section>

        <div class="module-small bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="widget">
                            <h5 class="widget-title font-alt">About AviCrypto</h5>
                            <article>AVICRYPTO is a leading national provider of world’s fastest, safest, cheapest &
                                endless payment solutions for independent businesses.
                                We’ve built the company from the inside out, putting service at the center of everything
                                we do.
                                It’s a high-touch, high-tech, end-to- end system that delivers quality, value, and
                                profitability to our investors, Merchant, Trader's & when You win, we win !
                            </article>
                            <p>Email:<a href="#">info@avicrypto.us</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider-d">
      </div>
    </main>
    <footer class="footer bg-dark">
        <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <p class="copyright font-alt">&copy; 2017&nbsp;<a href="index.html">AviCrypto</a>, All Rights Reserved</p>
          </div>
          <div class="col-sm-6">
            <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
    </footer>
        {% block js %}
            {% include "js_src.html" %}
            <script src="{% static "js/plugins.js" %}"></script>
            <script src="{% static "js/main.js" %}"></script>
        {% endblock %}
        </body>
    {% endblock %}
</html>