{% extends "base.html" %}

{% block body %}
    {% block main %}
    <main>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <nav class="navbar navbar-custom navbar-fixed-top one-page" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse2"><span
                          class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                          class="icon-bar"></span><span class="icon-bar"></span></button>
                  <a class="navbar-brand" href="index2.html">AviCrypto</a>
              </div>
              <div class="collapse navbar-collapse" id="custom-collapse2">
                  <ul class="nav navbar-nav navbar-right">
                      <li><a class="btn btn-d" href="/#totop">Home</a></li>
                      <li><a class="btn btn-d" href="/#about">Who We Are</a></li>
                      <li><a class="btn btn-d" href="/#works">What We Do</a></li>
                      <li><a class="btn btn-d" href="/#contact">Get In Touch</a></li>
                      <li><a class="btn btn-d btn-round" href="/login">Sign Up/Login</a></li>
                  </ul>
              </div>
          </div>
      </nav>
        <section class="module">
          <div class="container">
            <div class="row">
              <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
                <h4 class="font-alt">Login</h4>
                <hr class="divider-w mb-10">
                <form class="form" name="" id="loginform" method="post" action="/login">
                {% csrf_token %}
                <div class="form-group">
                    <div class="login-input-box">
                      <input class="form-control" placeholder="Username" id="usernmae" name="username" value="{{ username }}" type="email" required>
                    </div>
                </div>
                <div class="form-group">
                  <div class="login-input-box">
                      <input class="form-control" id="password" name="password" value="{{ username }}" placeholder="Password" type="password" required>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-round btn-b">Next</button>
                  </div>
                </form>
              </div>
              <div class="col-sm-5">
                <h4 class="font-alt">Register</h4>
                <hr class="divider-w mb-10">
              <form class="form" name="" id="ragistrationFormMover">
              {{ signup_form.as_p }}
              {% csrf_token %}
              <div class="form-group">
                <input type="text" id="referal" class="form-control" name="referal" value="{{referal}}" placeholder="Referal" readonly/>
              </div>
              <div class="form-group">
                <input type="text" id="sponcer_id" class="form-control" name="sponcer_id" value="{{sponser_id}}" placeholder="Sponcer Id" readonly/>
              </div>
              <div class="form-group">
                <input type="text" id="placement_id" class="form-control" name="placement_id" value="{{placement_id}}" placeholder="Placement Id" />
              </div>
              <div class="form-group" id="place">
                  <select name="placement" id="placement_position" >
                  <option value="Select">Select</option>
                  <option value="L">LEFT</option>
                  <option value="R">RIGHT</option>
                  </select>                                      
              </div>
              <div class="form-group">
                <input type="email" id="email" class="form-control" name="email" value="{{email}}" placeholder="E-mail address" />
                <span id='email-matching-message'></span>
              </div>
              <div class="form-group">
                  <input type="text" id="name" class="form-control" name="name" value="{{ name }}" placeholder="Name" />
                  <span id='name-matching-message'></span>
              </div>
              <div class="form-group">
                  <input type="text" id="mobile" class="form-control" name="mobile" value="{{ mobile }}" placeholder="Mobile" />
                  <span id='mobile-matching-message'></span>
              </div>
              <div class="form-group" >
                  <input id="signup_password" class="form-control" name="password" value="{{ password }}" placeholder="Password" type="password"/>
                  <span id='signup_password-matching-message'></span>
              </div>
              <div class="form-group" >
                  <input id="confirm_password" class="form-control" name="confirm_password" value="{{ confirm_password }}" placeholder="Confirm Password" type="password"/>
                  <span id='rePassword-matching-message'></span>
              </div>

          </form>
              <div class="row">
                <div class="col-xs-12">
                    <button type="submit" id="submit_mover" name="submit" class="btn btn-round btn-b" style="width:85%">Submit</button>
                </div>
              </div>
              </div>
            </div>
          </div>
        </section>
    </main>
    {% endblock %}
    {% block js %}
          {{ block.super }}
        {% endblock %}
{% endblock %}