{% extends "base.html" %}

{% load static %}

{% block page_stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'js/treant/Treant.css' %}">
{% endblock %}

{% block content %}
<div class="content-header row">
</div>

<div class="content-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-block">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="chart" id="networkTree"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="tab-content">
    <div class="tab-pane active" id="network_tree">
    <br>
        <h2>My Network</h2>
        <div class="row" id="network_summary">
        <br><br>
            
            <div id="networkContainer">
            	
            </div>
            <div class="chart" id="networkTree"></div>

        </div>
    </div>
</div> -->
{% endblock %}

{% block page_javascript %}
<script src="{% static 'js/treant/raphael.js' %}"></script>
<script src="{% static 'js/treant/Treant.js' %}"></script>
<script src="{% static 'js/pages/network.js' %}"></script>
{% endblock %}
