{% extends "home_root.html" %}

{% block contents %}

<div class="tab-content">
    <div class="tab-pane active" id="network_tree">
        <div class="row" id="network_summary">
        <br><br>
            <h2>Networks</h2>
                <div class="row">
                        <button class="btn btn-round btn-b text-center">Add User</button>
                </div>
            <div id="networkContainer">
            <h3>Network Tree</h3>
            	
            </div>
            <div class="chart" id="networkTree"></div>

        </div>
    </div>
{% block js %}
          {{ block.super }}
        {% endblock %}
{% endblock %}

