{% extends "home_root.html" %} {% load static %} {% block contents %}
<div class="tab-content">
    <div class="tab-pane active" id="profile">
        <div class="row" id="profile-summary">
            <div class="row">
                <br>
                <br>
                <h1>My Fixed Deposit Plans</h1>

                <div class="col-md-12">
                    <form class="registration-form" method="post">
						{% csrf_token %}
                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Add Package</h3>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Package Duration: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="number" name="duration" id="duration" class="form-control" value="1" min="1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Package Type: </label>
                                        </div>
                                        <div class="col-sm-8">
											<select name="package" id="package">
												{% for p in packages %}
													<option value="{{p.id}}">{{p.package_name}}</option>
												{% endfor %}
											</select>
                                        </div>
                                    </div>
								</div>
								<br>
								<div class="form-group">
									<button class="btn btn-round btn-b" type="submit">Save</button>
								</div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}