{% extends "home_root.html" %} {% load static %} {% block contents %}
<div class="tab-content">
    <div class="tab-pane active" id="profile">
        <div class="row" id="profile-summary">
            <div class="row">
                <br>
                <br>

                <div class="row multi-columns-row">

                    {% for package in packages %}
                        <div class="col-sm-6 col-md-4 col-lg-4">
                            <div class="price-table font-alt">
                                <h4>{{package.package_name}}</h4>
                                <div class="borderline"></div>
                                <p class="price">
                                    <span>$</span>{{package.price}}
                                </p>
                                <ul class="price-details">
                                    <li>{{package.payout}} PAY-OUT %</li>
                                    <li>{{package.directout}} DIRECT OUT</li>
                                    <li>{{package.binary_payout}} BINARY PAY-OUT</li>
                                    <li>{{package.capping}} CAPPING (USD)</li>
                                    <li>{{package.no_payout}} NO OF PAY-OUT</li>
                                    <li>{{package.loyality}} LOYALITY</li>
                                    <li>{{package.roi}} ROI IN USD</li>
                                </ul>
                                <!-- <a class="btn btn-d btn-round" href="#" package-id="{{package.id}}">Buy</a> -->
                            </div>
                        </div>
                    {% endfor %}
                </div>


                <!-- <div class="col-md-12">
                    <form class="registration-form" method="post">
                        {% csrf_token %}
                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Add Package</h3>
                                </div>
                            </div>
                            <div class="form-bottom">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Package Duration: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <input type="number" name="duration" id="duration" class="form-control" value="1" min="1" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label>Package Type: </label>
                                        </div>
                                        <div class="col-sm-8">
                                            <select name="package" id="package">
                                                {% for p in packages %}
                                                <option value="{{p.id}}">{{p.package_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="form-group">
                                    <button class="btn btn-round btn-b" type="submit">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div> -->
            </div>
        </div>
    </div>
</div>

{% endblock %}