{% extends "home_root.html" %}

{% block contents %}

<div class="tab-content">
    <div class="tab-pane active" id="packages_b_list">
        <div class="row" id="packages-b-summary">
            <h2>Bussiness Packages</h2>
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-xs-12 boxed">
                        <div class="white-box">
                            <div class="m-b-12">
                                <div class="m-b-12">
                                <h2 style="font-weight:bold; text-align:right; font-size:18px;margin-right: 15px;padding-top: 10px;">Package Name</h2>
                                        <!--<span>Total Available Balance</span>-->
                            </div>
                                <ul class="">
                                    <li><span>Description : </span><span>Package Description</span></li>
                                    <li class="text-right"><span style="font-size:24px;">$</span><span class="counter fontsize_small_media">
                                    Price</span> 
                                    </li>
                                </ul>                                    
                        </div>
                    </div>

                {% for p in packages %}
                    <div class="col-lg-4 col-sm-4 col-xs-12 boxed">
                        <div class="white-box">
                            <div class="m-b-12">
                                <h2 style="font-weight:bold; text-align:right; font-size:18px;margin-right: 15px;padding-top: 10px;">{{p.package}}</h2>
                                        <!--<span>Total Available Balance</span>-->
                            </div>
                                <ul class="">
                                    <li><span>Description : </span><span>{{p.description}}</span></li>
                                    <li class="text-right"><span style="font-size:24px;">$</span><span class="counter fontsize_small_media">
                                    {{p.price}}</span> 
                                    </li>
                                </ul>                                    
                        </div>
                    </div>
                {% endfor %}
        </div>
    </div>
{% endblock %}
