{% extends "home_root.html" %}

{% block contents %}
<div class="tab-content">
<div class="tab-pane" id="profile">
        <div class="row" id="profile-summary">
            <p>Profile</p>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                    <th>Package</th>
                    <th>Mobile Number</th>
                    <th>Bank Account Type</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}