{% extends "base.html" %} {% block body %} {% block main %}
<section id="reset_password" class="background-grey mt-50">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                {% if message %}
                	<span class="color-light-green">{{message}}</span>
                {% else %}
                <form role="form" name="resetPasswordForm" method="post" action="" onsubmit="return resetSubmit()">
                    {% csrf_token %}
                    <div class="form-group floating-label-form-group controls">
                        <label for="password">Password</label>
                        <input placeholder="Password" class="form-control" type="password" id="password" name="password" required />
                    </div>

                    <div class="form-group floating-label-form-group controls">
                        <label for="password_c">Confirm Password</label>
                        <input placeholder="Confirm Password" class="form-control" type="password" id="password_c" name="password_c" required />
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-round btn-b">Submit</button>
                    </div>
                </form>
                {% endif %}
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</section>

<script>
    function resetSubmit() {
        if($("#password").val() == $("#password_c").val()) {
            return true
        } else {
            alert("password must be same")
            return false
        }
    }
</script>

{% endblock %} {% block js %} {{ block.super }} {% endblock %} {% endblock %}