{% extends "base.html" %}

{% block content %}

<div class="content-header row"></div>
<div class="content-body">
    <section class="flexbox-container">
        <div class="col-md-4 offset-md-4 col-xs-10 offset-xs-1 box-shadow-2 p-0">
            <div class="card border-grey border-lighten-3 m-0">
                <div class="card-header no-border">
                    <div class="card-title text-xs-center"></div>
                    <h6 class="card-subtitle line-on-side text-muted text-xs-center font-small-3 pt-2">
                        <span>Reset Password</span>
                    </h6>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block">
                        <form id="loginForm" method="post" action="" class="form-horizontal form-simple" onsubmit="return resetSubmit()">
                            {% csrf_token %}
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="password" class="form-control form-control-lg input-lg" name="password" id="password" placeholder="Password" required>
                                <div class="form-control-position">
                                    <i class="icon-key3"></i>
                                </div>
                            </fieldset>
                            <fieldset class="form-group position-relative has-icon-left">
                                <input type="password" class="form-control form-control-lg input-lg" name="password_c" id="password_c" placeholder="Confirm Password" required>
                                <div class="form-control-position">
                                    <i class="icon-key3"></i>
                                </div>
                            </fieldset>
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                <i class="icon-unlock2"></i> Reset
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function resetSubmit() {
        if($("#password").val() == $("#password_c").val()) {
            return true
        } else {
            toastr.warning("Password must be same", "Warning")
            return false
        }
    }
</script>

{% endblock %}