{% extends "base.html" %}

{% block content %}
<div class="content-body">

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Wallet Summary</h4>
                </div>
                <div class="card-body collapse in">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>Wallet Id</th>
                                    <th>Type</th>
                                    <th>Wallet Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for wallet in wallets %}
                                    <tr>
                                        <td>{{ wallet.uuid }}</td>
                                        <td>{{ wallet.wallet_type }}</td>
                                        <td>${{ wallet.amount }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>
                                            You currently have no wallet
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Transactions Summary</h4>
                </div>
                <div class="card-body collapse in">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>Transation ID</th>
                                    <th>Receiver Wallet</th>
                                    <th>Sender Wallet</th>
                                    <th>Price</th>
                                    <th>Type</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for transaction in transactions %}
                                    <tr>
                                        <td>{{ transaction.pk }}</td>
                                        <td>{{ transaction.reciever_wallet.owner.username }}</td>
                                        <td>
                                            {% if transaction.sender_wallet.owner.username == 'harshul' %}
                                                AVICRYPTO
                                            {% else %}
                                                {{ transaction.sender_wallet.owner.username }}
                                            {% endif %}
                                        </td>
                                        <td>${{ transaction.amount }}</td>
                                        <td>{{ transaction.reciever_wallet.wallet_type }}</td>
                                        <td>
                                            {% for key,value in transaction_status_choices  %}
                                                {% if key == transaction.status %}
                                                    {{value}}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>
                                            You have no transactions yet
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Package Summary</h4>
                </div>
                <div class="card-body collapse in">
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>Package Name</th>
                                    <th>Price</th>
                                    <th>Status</th>
                                    <th>Expiry date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for package in packages %}
                                    <tr>
                                        <td>{{package.package.package_name}}</td>
                                        <td>${{package.package.price}}</td>
                                        <td>
                                            {% for key,value in userpackage_status_choices  %}
                                                {% if key == package.status %}
                                                    {{value}}
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>{{package.expiry_date}}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>
                                            You have not bought any packages for your deposits
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
