.app-content.container {
  width: 100% !important;
}

#chart-container {
  position: relative;
  display: inline-block;
  top: 10px;
  left: 10px;
  height: 100%;
  width: 100%;
  border-radius: 2px;
  overflow: auto;
  text-align: center;
}

.orgchart {
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 0;
}

.orgchart>table:first-child {
  margin: 5px auto 0px auto;
}

.orgchart .node .content {
  height: 55px;
}

.orgchart .node .horizontalEdge {
  top: 15px;
}

.hidden {
  display: none;
}

.orgchart .drill-icon {
  transition: opacity .5s;
  opacity: 0;
  right: -10px;
  top: -10px;
  z-index: 2;
  color: #000;
  font-size: 30px;
  position: absolute;
}

.orgchart .drill-icon:hover {
  color: #000;
}

.orgchart .node:hover .drill-icon {
  opacity: 1;
}

.inactive-node-title{
  background-color: #7d7474 !important;
}
.inactive-node-border{
  border-color: #7d7474 !important;
}

.inactive-node:hover{
  background-color: #7d7474 !important;
}


.nouser-node-title{
  background-color: #3BAFDA !important;
}
.nouser-node-border{
  border-color: #3BAFDA !important;
}

.nouser-node:hover{
  background-color: #3BAFDA !important;
}
