#chart-container {
  position: relative;
  display: inline-block;
  top: 10px;
  left: 10px;
  height: 100%;
  width: 100%;
  border: 1px dashed grey;
  border-radius: 2px;
  overflow: auto;
  text-align: center;
}

.orgchart {
  background: #fff;
}

.orgchart .node .content {
  height: 55px;
}

.orgchart .node .horizontalEdge {
  top: 15px;
}