{% load i18n %}

{% autoescape off %}
{% blocktrans %}
You're receiving this email because you requested a password reset for your user account at Avicrypto.
{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}

http://www.avicrypto.us/reset-password/{{ token }}

{% trans "Your username, in case you've forgotten:" %} {{ user.username }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}
The Avicrypto team
{% endblocktrans %}

{% endautoescape %}
