<!DOCTYPE html>
<html>
<style>
body,html{ 
    background-image: url('transaction-mailer.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: contain;	
}

div{
  position: absolute;
  top: 67%;
  left: 4%;
  font-size: 18px;  /* Put the left edge on the horizontal center */
  margin-left: 148px; /* Move it 148px to the right of the horizontal center, placing it over the lightswitch */
 }
</style>
<body>

<div>
  <p><span> Dear {{full_name}}</span></p>
</div>

</body>
</html>